asgiref
atomicwrites
attrs
certifi
chardet
click
colorama
Flask
gunicorn
idna
itsdangerous
Jinja2
MarkupSafe
more-itertools
packaging
pluggy
public
py
pyparsing
pytest
python-dotenv
pytz
query-string
requests
six
sqlparse
urllib3
wcwidth
Werkzeug
